<% content_for :header do %>
  <div class='blue-header'>
    <div class='blue-header-title'>
      <h2><%= page_header %></h2> <!-- write a method to change the content here depending on action -->
    </div><!-- //blue-header-title -->
  </div><!-- //blue-header -->
<% end %>

<div id="wrapper" class="container canvas">
    <div class="span12 main" style="padding-left: 20px">
      <div class="row">

        <div class="span3">
          <%= render 'shared/static_nav' %>
        </div><!-- //span3 -->
        <div class="span9" style='border:none'>
          <div class='about-lnc'>
            <div class='about-header'>
              <h2>Terms and Conditions</h2>
            </div>
            <div class='what'>      
                <p>
              The Terms and any dispute or claim arising out of or in connection with it or its subject matter (including non-contractual disputes or claims) shall be are governed by and construed in accordance with Hong Kong law. 
                </p>
              <h3>The Summary</h3>
              <p>
              Hello. You should read these terms and conditions in full because they apply every time you visit Friendskis. However, just in case you ever need a reminder of the main points, here’s a quick summary:
              If you are under the age of 18 then unfortunately you can’t use Friendskis yet because it’s a meeting place for adults only.
              We’re not responsible for anything that you post or say while you are on Friendskis and we don’t monitor the content of the site, but if we do see or someone alerts us that you have posted something that we think is inappropriate then we are allowed at our discretion to remove it.
              If you post any content that actually belongs to someone else and they get annoyed (or even call in their lawyers), we are not in the firing line. You have to take responsibility for what you post.
              If you are concerned about how your data is being used by Friendskis then please refer to our <%= link_to "Privacy Policy", privacy_path %>. It will tell you all you need to know.
              </p>
              <h3>General Legal stuff</h3>
              <p>
              Friendskis is a social media website designed as a forum for meeting new people, a place to have discussions and to share photos, news and information. It is intended to be a fun place to visit and it is important to us (and for you) that it remains a safe and friendly environment so you agree that you will only use Friendskis in a manner consistent with its purpose and which is in accordance with these terms and conditions (the “Terms”).
              </p>
              <p>
              The Terms constitute a binding legal agreement between you as user (“you”) and Friendskis Limited, a Hong Kong company whose registered office is 12G Mandarin Villa, 10 Shiu Fai Terrace, Wanchai, Hong Kong (“we” or “us”) of www.Friendskis.com (together with affiliated websites and applications, “Friendskis”). 
              </p>
              <p>
              The Terms apply whenever you visit Friendskis, whether or not you have chosen to register with us, so please read them carefully. By accessing, using, registering for or receiving services offered on Friendskis (the “Services”) you are accepting and agreeing to be bound by the Terms.
              </p>
              <p>
              IF YOU DO NOT ACCEPT AND AGREE TO THE TERMS THEN YOU MUST NOT ACCESS OR USE THE SITE.
              </p>
              
              <h2>1. Use of the site and rules relating to content</h2>

              <h3>Who can use Friendskis?</h3>
              <p>
              Friendskis is a meeting place for adults. You may only use and become a registered member of Friendskis if you are 18 years old or older (or the age of majority in the country in which you reside if that happens to be greater than 18).
              You warrant that you have the right, authority and capacity to enter into and be bound by the Terms and that by using Friendskis you will not be violating any law or regulation of the country in which you are resident. You are solely responsible for your compliance with all applicable local laws and regulations.
              You further warrant that you have not been convicted of, nor are subject to any court order relating to assault, violence, sexual misconduct or harassment.
              </p>
              <h3>What kind of content can I post on Friendskis?</h3>
              <p>
              You are able to post all kinds of things on Friendskis, including photographs, emails, messages and other content (“Content”).
              </p>
              <p>
              There are some rules about what is acceptable though, so when you are using Friendskis you may not post or send any Content which:
              contains expletives or language which could be deemed offensive or is likely to harass, upset, embarrass, alarm or annoy any other person;
              is obscene, pornographic or otherwise may offend human dignity;
              is abusive, insulting or threatening, or which promotes or encourages racism, sexism, hatred or bigotry;
              incorporates the image or likeness of any individual under 18 years of age;
              encourages any illegal activity including, without limitation, terrorism, inciting racial hatred or the submission of which in itself constitutes committing a criminal offence;
              is defamatory;
              relates to commercial activities (including, without limitation, sales, competitions and advertising, links to other websites or premium line telephone numbers);
              involves the transmission of “junk” mail or “spam”;
              contains any spy ware, adware, viruses, corrupt files, worm programmes or other malicious code designed to interrupt, damage or limit the functionality of or disrupt any software, hardware, telecommunications, networks, servers or other equipment, Trojan horse or any other material designed to damage, interfere with, wrongly intercept or expropriate any data or personal information whether from Friendskis or otherwise; or
              itself, or the posting of which, infringes any third party’s rights (including, without limitation, intellectual property rights and privacy rights).
              Please use your common sense when picking the Content that you choose to post on or send via Friendskis because you are solely responsible for, and bear all liability in relation to, such Content.
              </p>
              <h3>Are there any rules relating to personal information like my email address?</h3>
              <p>
              You may not display any personal contact or banking information on your individual profile page (“Profile”) whether in relation to you or any other person (for example, names, home addresses or postcodes, telephone numbers, email addresses, URLs, credit/debit card or other banking details). If you do choose to reveal any personal information about yourself to other users, whether via email or otherwise, it is at your own risk. We encourage you to use the same caution in disclosing details about yourself to third parties online as you would under any other circumstances. 
              </p>
              <h3>What about other people’s personal information, can I use it?</h3>
              <p>
              You may only use other Friendskis user’s personal information to the extent that your use of it matches Friendskis’s purpose of allowing people to meet one another. You may not use other users' information for commercial purposes, to spam, to harass, or to make unlawful threats. Friendskis reserves the right to terminate your account if you misuse other users' information.
              </p>
              <h3>Some of my friends want to see all the people I’m chatting with. Can I tell them my password and let them log on as me?</h3>
              <p>
              The short answer is no. Only you are authorised to access your account with Friendskis. You must not share your password with anyone or let anyone else access your account as this jeopardises the security of all of the Content and personal information that you have submitted to Friendskis. You are responsible for keeping your password secret and secure. If you don’t, Friendskis is not liable for any unauthorised access to your account. If you suspect that someone has gained access to your account, you must let us know immediately by emailing ralph@friendskis.com and telling us of your suspicions or concerns. You must also immediately change your password. Friendskis reserves the right to terminate your account if you violate our rules on keeping your password secure.
              </p>
              <h3>Who can see the Content that I put on Friendskis?</h3>
              <p>
              When you upload Content to Friendskis it can be accessed and viewed by the general public. If you do not want such Content to be viewed by others. If you do not want such Content to be viewed by others, then you should not upload it to Friendskis. We reserve the right (without obligation) at our sole discretion and without giving you notice, to remove or edit, limit or block access to any Content that you upload or submit to Friendskis without any incurring liability to you. We have no obligation to display any Content that you submit to Friendskis, nor to check the accuracy or truthfulness of any Content submitted to Friendskis, nor to monitor your use or the use of other users of Friendskis.
              </p>
              <h2>2. Ownership of Content</h2>

              <h3>Once I have uploaded Content on Friendskis, do I still own it?</h3>
              <p>
              Yes (provided you are the rightful owner in the first place — please see our other rules regarding posting Content that doesn’t belong to you).
              </p>
              <p>
              By submitting Content to Friendskis you are warranting that you are the exclusive author and owner of that Content and you agree that you waive any and all moral rights relating to that Content (including, without limitation, the right to be identified as the author) subject to Facebook’s terms and conditions.
              </p>
              <p>
              We have the right to disclose your identity to any third party who is claiming that any Content posted or uploaded by you to our Site constitutes a violation of their intellectual property rights or of their right to privacy or any other law.
              </p>
              <h3>Who does the rest of the Content on Friendskis belong to then?</h3>
              <p>
              Us! All text, graphics, user interfaces, trademarks, logos, sounds and artwork on Friendskis are owned, controlled or licensed by us and are protected by copyright, trademark and other intellectual property law rights.
              </p>
              <h3>Can I use any of the Content that doesn’t belong to me?</h3>
              <p>
              Other than in relation to Content submitted by you to Friendskis, you do not have any rights in relation to the Content on Friendskis and you agree that you will not use any Content in any manner which may infringe any third party’s rights. Without limitation to the foregoing, this means that you agree that you will not copy, modify, adapt, distribute, publish or sell all or any part of the Friendskis site or the Content contained on it (other than the Content submitted by you) to anyone else.
              </p>
              <h2>3. Paid for Services</h2>

              <h3>What can I buy on Friendskis?</h3>
              <p>
              Friendskis offers you the opportunity to pay for a subscription to the site. Subscriptions can be purchased after you register, and you may subscribe to the services for various lengths of time. Once you have paid for any subscriptions, they are non-refundable. 
              </p>
              <h3>How do I renew my premium services with Friendskis?</h3>
              <p>
              Once you have bought a subscription to Friendskis, you authorise Friendskis to charge your chosen payment method via Facebook. If you want to cancel or change your payment method at any time, you can do so in your Facebook account settings under the payments tab. Your subscription to Friendskis will automatically renew until you decide to cancel.
              </p>
              <h2>4. Access to the site</h2>

              <h3>Do you guarantee that Friendskis will be up and running at all times?</h3>
              <p>
              Unfortunately we can’t guarantee that because sometimes we have to carry out maintenance to the site or it may be affected by a fault or circumstances which are outside our control, so Friendskis is provided on an “as is” basis. No warranty is given about the quality, accuracy, functionality, availability or performance of Friendskis and we reserve the right to suspend, withdraw, amend, modify or vary the service provided on Friendskis without notice and without incurring any liability to you.
              </p>
              <h3>What about mobile access?</h3>
              <p>
              You are responsible for making all the necessary arrangements to ensure you can access Friendskis (including, but not limited to Internet provider and mobile internet provider fees and, any other charges associated with such access). We shall not be held responsible for any reduced functionality you may encounter as result of or in connection with accessing Friendskis through mobile services or any similar service currently known or developed in the future.
              By accessing Friendskis or agreeing to receive messages or notifications from Friendskis through your mobile phone and/or any other connected media device, you accept that you may incur charges from your internet or mobile service provider. We shall not under any circumstances be liable for such charges.
              </p>
              <h2>5. Termination of use by us</h2>

              <h3>My Profile has disappeared and I can’t log in. What’s going on?</h3>
              <p>
              Sometimes people forget about the Terms and post Content or act in a way while on Friendskis which is not consistent with the purpose of the site. If we think that you may be one of those people, then we reserve the right at our sole discretion, at any time and without liability or the need to give you prior notice or to refund any unused services to:
              suspend or revoke your registration (where applicable) and your right to access and/or use Friendskis or submit any Content to Friendskis; and
              make use of any operational, technological, legal, or other means available to enforce the Terms (including without limitation blocking specific IP addresses).
              We will try (but we are not obliged) to notify you if your access to Friendskis and/or your Profile is to be or has been suspended or terminated.
              </p>
              <h2>6. Termination of use by you</h2>

              <h3>What do I do if I want to “unregister” myself from Friendskis?</h3>
              <p>
              If you have registered on Friendskis, you can terminate your registration at any time by going to the ‘Privacy Settings’ control on Facebook when you are logged in and choosing the ‘Ads, apps and websites’ link. From there you can click ‘Edit Settings’ and remove the application. We save your profile information in case you later decide to restore your account. Many users deactivate their accounts for temporary reasons and in doing so expect us to maintain their information until they return to Friendskis. You will therefore be able to restore your account and your profile in its entirety within 30 days of de-activating it. Once your registration is terminated, we have the right to delete any related Content that you have submitted or uploaded on to Friendskis. For further details, please refer to our <%= link_to "Privacy Policy", privacy_path %>.
              </p>
              <p>
              Content that you have uploaded to Friendskis, other than your Profile (such as comments or email messages), may still appear on Friendskis following termination of your registration.
              </p>
              <h2>7. Abuse/Complaints</h2>
              
              <h3>Someone is not obeying the Terms, who do I tell?</h3>
              <p>
              You can report any abuse or complain about Content on Friendskis by contacting us at ralph@friendskis.com, outlining the abuse and or complaint. 
              </p>
              <h2>8. Privacy Policy</h2>

              <h3>Do you have guidelines in place about what you can do with my personal data?</h3>
              <p>
              We process information in accordance with our <%= link_to "Privacy Policy", privacy_path %> which is incorporated into these Terms and Conditions of Use. Please read the terms of our <%= link_to "Privacy Policy", privacy_path %> prior to using Friendskis. By using Friendskis, you agree to such processing and you warrant that all data provided by you is true, correct and accurate.
              </p>

              <h2>9. Disclaimer of warranties and limitation of liability</h2>

              <h3>I forgot the rules about conduct on here and now someone is threatening to sue me. Will your lawyers sort it out?</h3>
              <p>
              No. If you act in a way that upsets other users then you have to be responsible for the consequences. We expressly disclaim any and all responsibility and liability for your conduct or the conduct of any other user of Friendskis, and expressly disclaim any liability for Content uploaded by you or by any other user.
              </p>
              <h3>But can you exclude liability for everything?</h3>
              <p>
              Nothing in the Terms limits or excludes our liability for:
              death or personal injury caused by their proven negligence; or
              any liability which cannot be limited or excluded by law.
              To the fullest extent permitted by law, Friendskis expressly excludes:
              all conditions, representations, warranties and other terms which might otherwise be implied by statute, common law or the law of equity; and
              any liability incurred by you arising from use of Friendskis, its services or these terms and conditions, including without limitation for any claims, charges, demands, damages, liabilities, losses or expenses of whatever nature and howsoever direct, indirect, incidental, special, exemplary, punitive or consequential damages (however arising including negligence), loss of use, loss of data, loss caused by a computer or electronic virus, loss of income or profit, loss of or damage to property, wasted management or office time, breach of contract or claims of third parties or other losses of any kind or character, even if Friendskis has been advised of the possibility of such damages or losses, arising out of or in connection with the use of Friendskis. This limitation on liability applies to, but is not limited to, the transmission of any disabling device or virus that may infect your equipment, failure or mechanical or electrical equipment or communication lines, telephone or other interconnect problems (e.g., you cannot access your internet service provider), unauthorized access, theft, bodily injury, property damage, operator errors, strikes or other labor problems or any act of god. in connection with Friendskis including, without limitation, any liability for loss of revenue or income, loss of profits or contracts, loss of business, loss of anticipated savings, loss of goodwill, loss of data, wasted management or office time and any other loss or damage of any kind, however arising and whether caused by tort (including, but not limited to, negligence), breach of contract or otherwise, even if foreseeable whether arising directly or indirectly.
              </p>
              <h2>10. Indemnity</h2>

              <h3>I forgot the rules about conduct on here and now someone is threatening to sue YOU. What now?</h3>
              <p>
              If we are sued as a result of your use of Friendskis then we have the right to defend or settle the relevant claim as we see fit. If we ask, you will co-operate fully and reasonably as required by us in the defence of any relevant claim.
              </p>
              <p>
              You agree to hold harmless and indemnify us and our officers, directors, employees, agents, representatives and licensors from and against any third party claims, damages (actual and/or consequential), actions, proceedings, demands, losses, liabilities, costs and expenses (including reasonable solicitor’s fees) suffered or reasonably incurred by us arising as a result of, or in connection with, your access to and use of Friendskis, the uploading or submission of Content to Friendskis by you or your conduct, other than in accordance with the Terms or any applicable law or regulation (“Claim”). Friendskis retains the exclusive right to settle, compromise and pay any and all Claims or causes of action which are brought against us without your prior consent.
              </p>
              <h2>11. Miscellaneous</h2>
              
              <h3>Lastly...</h3>

              <p>
              Friendskis has taken reasonable steps to ensure the currency, availability, correctness and completeness of the information contained on Friendskis and provides that information on an "as is", "as available" basis. Friendskis does not give or make any warranty or representation of any kind about the information contained on Friendskis, whether express or implied. Use of Friendskis and the materials available on it is at your sole risk. Friendskis cannot be held responsible for any loss arising from the transmission, use of data, or inaccurate Content posted by users. You are responsible for taking all necessary precautions to ensure that any material you may obtain from Friendskis is free of viruses or other harmful components. You accept that Friendskis will not be provided uninterrupted or error free, that defects may not be corrected or that Friendskis, or the server that makes it available, are free of viruses or bugs, spyware, Trojan horses or any similar malicious software. Friendskis is not responsible for any damage to your computer hardware, computer software, or other equipment or technology including, but without limitation damage from any security breach or from any virus, bugs, tampering, fraud, error, omission, interruption, defect, delay in operation or transmission, computer line or network failure or any other technical or other malfunction.
              </p>
              <p>
              We reserve the right to modify, amend or change the Terms at any time (a “Change”). If we do this then the Changes will be posted on this page and we will indicate the effective date of the updates at the bottom of the Terms. In certain circumstances, we may send an email to you notifying you of any Change. You should regularly check this page to take notice of any Changes.
              </p>
              <p>
              If you do not accept any Change to the Terms, you should stop using Friendskis immediately. Your continued use of Friendskis following any Change constitutes your acceptance of the Change and you will be legally bound by the new updated Terms.
              </p>
              <p>
              If, for any reason, any of the Terms are declared to be illegal, invalid or otherwise unenforceable by a court of a competent jurisdiction, then to the extent that term is illegal, invalid or unenforceable, it shall be severed and deleted from the Terms and the remainder of the Terms shall survive, remain in full force and effect and continue to be binding and enforceable.
              The Terms set out the entire agreement and understanding between us and you in relation to your use of Friendskis and supersedes all previous agreements, representations and arrangements between us (either oral or written). Nothing in this clause shall limit or exclude any liability for fraudulent misrepresentation.
              No failure or delay by us in exercising any right, power or privilege under the Terms shall operate as a waiver of such right or acceptance of any variation of the Terms and nor shall any single or partial exercise by either party of any right, power or privilege preclude any further exercise of that right or the exercise of any other right, power or privilege.
              </p>

              <h3>Effective date</h3>
              <p>
              The Terms were last updated on: 23 October 2012.
              </p>
              
            </div><!-- //what -->
          </div><!-- //about-lnc -->
        </div><!-- //span9 -->

      </div><!-- //row -->
    </div><!-- //span12 -->
</div><!-- //container -->  



