<h2>This page is gonna send messages</h2>

<%= form_for @message do |f| %>

  <%= f.hidden_field :to, value: @recipient %>

  <div class='field'>
    <%= f.label :body, 'Write a message' %>
  </div>
  <div class='field'>
    <%= f.text_area :body %>
  </div>
  <div class='actions'>
    <%= f.submit 'Send Message' %>
  </div>
<% end %>