<div class="span3">
  <%= render 'shared/nav' %>
</div><!-- //span3 -->

<div class="span9">
  <div class="tip-box">
    <h3>Reveal your Facebook identity</h3>
    <p>
      Want to become friends on Facebook? Click the button below and reveal your Facebook profile to allow the other person to send you a friend request or continue messaging on Facebook!
    </p>
    <% if @conversation.sender == current_user && @conversation.sender_unlocked == true %>
      <%= link_to "Your profile has been shared", '#', class: "uibutton disabled" %>
    <% elsif @conversation.recipient == current_user && @conversation.recipient_unlocked == true %>
      <%= link_to "Your profile has been shared", '#', class: "uibutton disabled" %>
    <% else %>
      <% if @conversation.sender == current_user %>
        <%= link_to 'Share your Facebook profile', conversation_path(@conversation, sender_unlocked: true), class: 'uibutton icon secure', method: :put %>
      <% elsif @conversation.recipient == current_user %>
        <%= link_to 'Share your Facebook profile', conversation_path(@conversation, recipient_unlocked: true), class: 'uibutton icon secure', method: :put %>
      <% end %>
    <% end %>
  </div>

  <div id="conversations">
    <div class='header'>
      <div class='action-buttons'>
        <%= link_to 'Back to Conversations', conversations_path, class: 'uibutton icon prev' %>
        <% if @conversation.sender == current_user && @conversation.recipient_unlocked == true %>
          <%= link_to "View #{@conversation.recipient.username} on Facebook", "#{@conversation.recipient.link}", class: 'uibutton special', target: :blank %>
        <% elsif @conversation.recipient == current_user && @conversation.sender_unlocked == true %>
          <%= link_to "View #{@conversation.sender.username} on Facebook", "#{@conversation.sender.link}", class: 'uibutton special', target: :blank %>
        <% else %>
          <% if @conversation.sender == current_user %>
            <%= link_to "#{@conversation.recipient.username} has not shared their profile", "#", class: 'uibutton disabled' %>
          <% elsif @conversation.recipient == current_user %>
            <%= link_to "#{@conversation.sender.username} has not shared their profile", "#", class: 'uibutton disabled' %>
          <% end %>
        <% end %>

      </div>
      <% if @messages.last.user != current_user%>
        <h3><%= @messages.last.user.username %> </h3>
      <% else %>
        <h3><%= @messages.last.recipients_username %></h3>
      <% end %>
    </div>
    <% @messages.each do |m| %>
      <div class='conversation message'>
        <%= render 'message', message: m %>
      </div><!-- /conversation -->
      <hr>
      <% end %>
      <div class='actions-reply'>
        
        <%= form_for @message do |f| %>
        
          <% if @messages.last.user == current_user %>
            <%= f.hidden_field :recipients_id, value: @messages.last.recipients_id %>
            <%= f.hidden_field :recipients_username, value: @messages.last.recipients_username %>
          <% else %>
            <%= f.hidden_field :recipients_id, value: @messages.last.user.id %>
            <%= f.hidden_field :recipients_username, value: @messages.last.user.username %>
          <% end %>
          
          <%= f.text_area :body, class: 'xxlarge', rows: '6' %>
          
          <%= f.submit 'Reply', class: 'uibutton confirm' %>
          
        <% end %>
      </div>
  </div><!-- /conversations -->
</div><!-- //span9 -->

