<a href="<%= user_url(photo.user) %>">
  <div class='profile-pic-tiny' style="background-image: url(<%= profile_pic_tiny(photo.user) %>)">
  </div><!-- /profile-pic-tiny -->
</a>
<div class='main-post-content'>
  <div class='name-age-gender'>
    <h5>
      <%= link_to photo.user.username, user_path(photo.user) %>
      <span><%= photo.user.age %> · <%= display_sex(photo.user) %></span>
    <h5>
  </div><!-- /name-age-gender -->
  <div class='post-content'>
    <%= link_to (image_tag photo.medium_url), user_path(photo.user), style: "cursor: pointer" %>
  </div><!-- /post-content -->
  <div class='post-caption'>
    <%= photo.caption %>
  </div><!-- /post-caption -->
  <div class='send-message'>
    <% if photo.user != current_user %>
       <% unless photo.liked?(current_user) %>
         <p>
         <%= link_to 'Cool', like_photo_path(photo), remote: true, id: dom_id(photo, 'like') %> 
         </p>
       <% else %>
         <p>You thought this photo was cool</p>
       <% end %>
         · <%= link_to 'Send Message', '#', onclick: (current_user.subscriber? ? "showModal($(this));" : "salesModal($(this));"), 
        data: { username: photo.user.username, recipients: photo.user.id, recipients_username: photo.user.username } %>
    <% end %>
  </div><!-- /send-message -->
</div><!-- /main-post-content -->
