<div class='main-profile'>
  <div class='header'>
    <div class='profile'>
      <div class='profile-img' style="background-image: url(<%= profile_pic_small(@user) %>)">
        <%#= image_tag profile_pic_small(@user) %>
      </div><!-- /profile-img' -->
      <div class='info-button'>
        <div class='profile-info'>
          <h2 style='font-weight: bold'><%= @user.username %></h2>
          <ul>
            <li><%= @user.age %><li> ·
            <li><%= display_sex(@user) %></li> ·
            <li><%= @user.location %></li>
            <li><%= criteria(@user) %></li>
          </ul>

        </div><!-- //profile-info -->
        <div class='profile-button'>
          <% if @user == current_user %>
            <%= link_to 'Edit profile', account_path, class: 'uibutton' %>
          <% else %>
          <!-- YO THIS IS PROBABLY GOING TO BE A 'NOTICE' OR I'M INTRIGUED BUTTON -->
            <%= link_to (@user.gender == "female" ? 'Notice her' : 'Notice him'), '#', class: 'uibutton special' %>
          <% end %>  
        </div><!-- //profile-button -->
      </div><!-- //info-button -->
      <div class='bio'>
        <% if @user.bio.nil? && @user == current_user %>
          <p class='bio'><%= link_to 'Add bio', account_path %></p>
        <% else %>
          <% if !@user.bio.nil? %>
            <p class='bio'><%= @user.bio %></p>
          <% else %>
            <p class='bio'><%= @user.username %> hasn't added a bio yet...</p>
          <% end %>
        <% end %>
      </div><!-- //bio -->
    </div><!-- //profile -->
  </div><!-- //header -->
  <div id="message-box">
    <% if @user == current_user %>
      <div class="share-photo-section">
        <h4>Share photos from Facebook</h4>
        <%= link_to "+ Add a photo from Facebook", pick_album_path, class: 'profile-share-photo' %>
        <p>Pro tip: The more you share the more likely someone will notice you in their feed</p>
      </div><!-- //share-photo-section -->
    <% else %>
      <div class="input-container">   
        <%= form_for @message do |f| %>
          
        <%= f.hidden_field :recipients_id, value: @user.id %>
        <%= f.hidden_field :recipients_username, value: @user.username %>
        
        <%= f.text_area :body, class: 'xxlarge', rows: '4', placeholder: "Write #{@user.username} a private message..." %>
        <div class="input-button"> 
          <%= f.submit 'Send Message', class: 'uibutton confirm' %>
        </div><!-- //input-button" --> 
        
      <% end %>
    <% end %>
    </div><!-- //input-container -->
  </div><!-- //message-box -->
  <div id="feed">

    <% if flash.any? %>
      <div class="flash-msg">
        <% flash.each do |name, msg| %>
          <div class="alert-message info">
            <p><strong><%= msg %></strong></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <% @photos.each do |photo| %>
      <%= render 'feed', photo: photo %>
    <% end %>
  </div>
</div><!-- //main-profile -->
