<div class='main-profile'>
  <div class='header'>
    <div class='profile'>
      <div class='profile-img'>
        <%= image_tag profile_pic_small(@user) %>
      </div><!-- /profile-img' -->
      <div class='info-button'>
        <div class='profile-info'>
          <h2 style='font-weight: bold'><%= @user.username %></h2>
          <ul>
            <li><%= @user.age %><li> ·
            <li><%= display_sex(@user) %></li> ·
            <li><%= @user.location %></li>
            <li><%= criteria(@user) %></li>
          </ul>

        </div><!-- //profile-info -->
        <div class='profile-button'>
          <% if @user == current_user %>
            <%= link_to 'Edit profile', '#', class: 'uibutton' %>
          <% else %>
          <!-- YO THIS IS PROBABLY GOING TO BE A 'NOTICE' OR I'M INTRIGUED BUTTON -->
            <%= link_to (@user.gender == "female" ? 'Notice her' : 'Notice him'), '#', class: 'uibutton special', onclick: "showModal($(this));", 
            data: { username: @user.username, recipients: @user.id, recipients_username: @user.username } %>
          <% end %>  
        </div><!-- //profile-button -->
      </div><!-- //info-button -->
      <div class='bio'>
        <% if @user.bio.nil? && @user == current_user %>
          <p class='bio'><%= link_to 'Add bio', '#' %></p>
        <% else %>
          <% if !@user.bio.nil? %>
            <p class='bio'><%= @user.bio %></p>
          <% else %>
            <p class='bio'><%= @user.username %> hasn't added a bio yet...</p>
          <% end %>
        <% end %>
      </div><!-- //bio -->
    </div><!-- //profile -->
  </div><!-- //header -->
  <div id="feed">
    <% @photos.each do |photo| %>
      <%= render 'feed', photo: photo %>
    <% end %>
  </div>
</div><!-- //main-profile -->
