<div class="span3">
  <%= render 'shared/nav' %>
</div><!-- //span3 -->

<div class="span9">
  <div id="feed">
    <h3>Showing <%= sex_preference(current_user) %> ages <%= current_user.min_age %> to <%= current_user.max_age %> nearby</h3>
    <% @photos.each do |photo| %>
      <div class='post'>   
        <%= render 'feed', photo: photo %>
      </div><!-- /post -->
    <% end %>
  </div>
  <%= paginate @photos %>
</div><!-- //span9 -->

<div class="modal" id="my-modal" tabindex="-1" role="dialog" style="display: none">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <%= form_for @message do |f| %>
    <%= f.hidden_field :recipients_id  %>
    <%= f.hidden_field :recipients_username  %>
    <%= f.text_area :body %>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Send Message', class: 'uibutton large confirm' %>
  </div>
  <% end %>
</div>

<div class="modal" id="sales-modal" tabindex="-1" role="dialog" style="display: none">
  <div class="modal-header">
  </div><!-- /modal-header -->
  <div class="modal-body" style="overflow: hidden">
    <div class='sales-icon' style="float: left">
      <%= image_tag 'message_icon.jpg', width: '75px'%>
    </div><!-- /sales-icon -->
    <div style="padding-left: 95px;">
      <h3>Why should I subscribe?</h3>
      <p style="margin-top: 5px;">
        For only <strong>USD$2.99 a month</strong> you can join Friendskis as a member and start conversations with other users.
      </p>
      <p>
      By messaging someone you'll be able to find out more about them as they share cool stuff from their Facebook profile, and
      unlike other dating sites, anyone you message can reply for free - so you'll get more responses!
      </p>
    </div>
  </div><!-- /modal-body --> 
  <div class="modal-footer">
    <%= link_to "Sign me up!", '#', id: 'sales-click', class: 'uibutton large special', style: "float: right", onclick: "buySubscription('#{subscription_url(v: SUBSCRIPTION_VERSION)}');" %>
  </div><!-- /modal-footer --> 
</div><!-- /modal --> 
