<script>
function setCookie()
     {if (navigator.userAgent.indexOf('Safari') != -1 
     && navigator.userAgent.indexOf('Chrome') == -1
     {window.open('/channel','','width=200,height=100');}
}

</script>
<div class="span3">
  <%= render 'shared/nav' %>
</div><!-- //span3 -->

<div class="span9">
  <div id="feed">
    <h3>Showing <%= sex_preference(current_user) %> ages <%= current_user.min_age %> to <%= current_user.max_age %> nearby</h3>
    <% @photos.each do |photo| %>
      <div class='post'>   
        <%= render 'feed', photo: photo %>
      </div><!-- /post -->
    <% end %>
  </div>
  <%= paginate @photos %>
</div><!-- //span9 -->

<div class="modal" id="my-modal" tabindex="-1" role="dialog" style="display: none">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <%= form_for @message do |f| %>
    <%= f.hidden_field :recipients_id  %>
    <%= f.hidden_field :recipients_username  %>
    <%= f.text_area :body %>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Send Message', class: 'uibutton large confirm' %>
  </div>
  <% end %>
</div>
