<div>
  <%= profile_pic_small %>
</div>

<div class='user-info'>
  <h3><%= @user.username %></h3>
  <p>
    <%= @user.age %>
    <%= display_sex(@user) %>
    <%= @user.location %><br>
    <%= criteria(@user) %>
  </p>  
</div>