<div class="left-nav">
  <div class="profile-details">
    <div class='user-image' style="background-image: url(<%= profile_pic_tiny(current_user) %>)">
    </div>
    <p>
    <%= link_to current_user.username, user_path(current_user) %>
    </p>
  </div>
  <div class="share-photo">
    <h5>Your popularity</h5>
    <p>Increase your visibility!</p>
    <%= link_to "Share a Photo", pick_album_path, class: 'uibutton confirm large share-ph' %>
  </div>
  <div class='nav-links'>
  <h6>Your Links</h6>
  <ul>
    <a href="/feed"><li><%= image_tag 'home.png' %><p>Home</p></li></a>
    <a href="/conversations"><li><%= image_tag 'message.png' %><p>Conversations</p></li></a>
    <a href="/visitors"><li><%= image_tag 'visitors.png' %><p>Visitors</p></li></a>
    <!-- <a href="/search"><li><%#= image_tag 'friend-finder.png' %><p>Search</p></li></a> -->
    <!-- <a href="#"><li><%#= image_tag 'invitefriend.png' %><p>Invite Friends</p></li></a> -->
    <a href="/account"><li><%= image_tag 'editprofile.png' %><p>Settings</p></li></a>
  </ul>
  </div><!-- //nav-links -->
  <div class="nav-footer-links">
    <p>Friendskis © 2012</p>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'FAQ', faq_path %></li>
      <li><%= link_to 'Terms', terms_path %></li>
      <li><%= link_to 'Privacy', privacy_policy_path %></li>
    </ul>
  </div><!-- //nav-footer-links -->
</div><!-- //left-nav -->

  
