<div class="left-nav">
  <div class="profile-details">
    <a href="<%= user_url(current_user) %>">
      <div class='user-image' style="background-image: url(<%= profile_pic_tiny(current_user) %>)">
      </div>
    </a>
    <p>
    <%= link_to current_user.username, user_path(current_user) %>
    </p>
  </div>
  <div class="share-photo">
    <h5>Your popularity</h5>
      <%= popularity_label(current_user) %> 
    <div class="outer-pop-meter">
      <div class="inner-pop-meter" style="width: <%= current_user.percent_score %>%">
      </div><!-- /inner-pop-meter -->
    </div><!-- /outer-pop-meter -->
    <p>Increase your visibility!</p>
    <%= link_to "Share a Photo", pick_album_path, class: 'uibutton confirm large share-ph' %>
  </div>
  <div class='nav-links'>
  <h6>Your Links</h6>
  <ul>
    <a href="/feed"><li class="<%= nav_class(users_path) %>"><%= image_tag 'home.png' %><p>Home</p></li></a>
    <a href="/conversations"><li class="<%= nav_class(conversations_path) %>"><%= image_tag 'message.png', class: "convos" %><p>Conversations</p></li></a>
    <a href="/visitors"><li class="<%= nav_class(visitors_path) %>"><%= image_tag 'visitors.png' %><p>Visitors</p></li></a>
    <!-- <a href="/search"><li><%#= image_tag 'friend-finder.png' %><p>Search</p></li></a> -->
    <a href="#" onclick="sendRequestViaMultiFriendSelector()"><li><%= image_tag 'invitefriend.png' %><p>Invite Friends</p></li></a>
    <a href="/account"><li class="<%= nav_class(account_path) %>"><%= image_tag 'editprofile.png' %><p>Settings</p></li></a>
  </ul>
  </div><!-- //nav-links -->
  <% if current_user && !current_user.subscriber? %>
    <% if current_user.invites.count < 25 %>
    <div class="invite-trial">
      <span class="label important">Free Trial</span>
      <p>
      <% if current_user.invites.count == 0 %>
        Invite 25 friends and receive 2 weeks of free messaging!
      <% elsif current_user.invites.count < 25 %>
        Invite <span id="invite_count"><%= current_user.invites_remaining %></span> more friends to send messages for free! 
      <% else %>
      <% end %>
      </p>
      <div class="invite-button">
       <%= link_to 'Invite Friends', '#', class: 'uibutton special', onclick: "sendRequestViaMultiFriendSelector()" %>
     </div><!-- //invite-button -->
    </div><!-- //invite-trial -->
    <% end %>
  <% end %>
  <div class="nav-footer-links">
    <p>Friendskis © 2012</p>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'FAQ', faq_path %></li>
      <li><%= link_to 'Terms', terms_path %></li>
      <li><%= link_to 'Privacy', privacy_policy_path %></li>
    </ul>
  </div><!-- //nav-footer-links -->
  <% if current_user.invites.count > 25 %>
  <div class="feedback">
    <div class="well">
      <p>Have a suggestion?</p>
      <%= link_to "Leave Feedback", about_path, class: "uibutton " %>
    </div>
  </div>
  <% end %>
</div><!-- //left-nav -->

  
