<div class="row">
  <div class="span4">
    <div class="step-header">
      <h3>Step 1: Browse photos of other users</h3>
    </div><!-- /step-header -->
    <p class='info'>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world 
  </div><!-- /span4 --> 
  <div class="span4">
    <div class="step-header">
      <h3>Step 2: Connect with people</h3>
    </div><!-- /step-header -->
    <p class='info'>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world 
  </div><!-- /span4 -->
  <div class="span4">
    <div class="step-header">
      <h3>Step 3: Become friends on Facebook</h3>
    </div><!-- /step-header -->
    <p class='info'>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world
  </div><!-- /span4 -->
</div><!-- /row -->
<div class="row" style="margin-top: 50px">
  <div class="span7" style="margin-left: 20px">
    <h3 class="people-header">Who's on Friendskis now</h3>
    <div class="homepage-links">
        <div class="box-1">
          <%= image_tag "https://graph.facebook.com/#{@user1.uid}/picture" %>
          <div class='p-info'>
            <h5><%= @user1.username %></h5>
            <p><%= @user1.age.to_s + ' · ' + @user1.gender + ' · ' +  criteria(@user1) %></p>
          </div><!-- /p-info -->
        </div><!-- /box-1 -->
      <div class="box-2">
        <%= image_tag "https://graph.facebook.com/#{@user2.uid}/picture" %>
        <div class='p-info'>
          <h5><%= @user2.username %></h5>
          <p><%= @user2.age.to_s + ' · ' + @user2.gender + ' · ' +  criteria(@user2) %></p>
        </div><!-- /p-info -->
      </div><!-- /box-2 -->
      <div class="box-3">
        <%= image_tag "https://graph.facebook.com/#{@user3.uid}/picture" %>
        <div class='p-info'>
          <h5><%= @user3.username %></h5>
          <p><%= @user3.age.to_s + ' · ' + @user3.gender + ' · ' +  criteria(@user3) %></p>
        </div><!-- /p-info -->
      </div><!-- /box-3 -->
    </div><!-- /homepage-links -->
    <%= image_tag "like-box.png" %>
  </div><!-- /span7 -->
  <div class="span5" style="margin-left: 20px">
    <%= image_tag "activity-box.png" %>
  </div><!-- /span5 -->
</div><!-- /row -->
