  
  <!-- <p class="login-tip">*It's anonymous and we won't post to your wall!</p> -->
  <div class='polaroid'>
    <%= image_tag 'chick.jpeg' %>
    <p>Join me now!</p>
  </div>
  <div class='landing-about'>
    <h3><span class='step_one'>1</span>Meet new people on Facebook</h3>
    <p>
      Friendskis is about helping you get the conversation started, so you can meet new people on Facebook.
      We keep everything anonymous and will never post to your wall!
    </p>
    <div class='landing-footer'>
      <%= link_to 'About', about_path %> · <%= link_to 'FAQ', faq_path %> · <%= link_to 'Terms', terms_path %> · <%= link_to 'Privacy', privacy_policy_path %>
    </div>
  </div><!-- //landing-about -->
</center>
