<div class='header'>
  <div class='credit-balance'>
    <% if current_user.subscriber? %>
      <%= link_to "You're currently subscribed. Yay!", '#', class: 'subscribed' %>
    <% else %>
      <%= link_to "You are not a paid subscriber. Join now!", '#', class: 'subscribe', onclick: "salesModal($(this));" %>
    <% end %>
  </div>
  <%= image_tag 'searchicon.png' %>
  <h3>Settings</h3>
</div><!-- //header -->
<ul class='tabs'>
  <%= tab_links('Account', account_path) %>
  <%= tab_links('Notifications', notifications_path) %>
  <%= tab_links('Privacy', privacy_path) %>
  <%= tab_links('Subscription', credits_path) %>
</ul>

<div class="modal" id="sales-modal" tabindex="-1" role="dialog" style="display: none">
  <div class="modal-header">
  </div><!-- /modal-header -->
  <div class="modal-body" style="overflow: hidden">
    <div class='sales-icon' style="float: left">
      <%= image_tag 'message_icon.jpg', width: '75px'%>
    </div><!-- /sales-icon -->
    <div style="padding-left: 95px;">
      <h3>Become a subscriber</h3>
      <p style="margin-top: 5px;">
        For only <strong>USD$2.99 a month</strong> you can join Friendskis as a member and send unlimited messages to other users.
      </p>
      <p>
        By messaging someone you'll be able to find out more about them as they share cool stuff from their Facebook profile.
        Unlike other dating sites, anyone you message <em>can reply for free</em> - so you'll get more responses!
      </p>
      <p>
        Starting a conversation with this person could change everything. But you need to click the subscribe button below first!
      </p>
      <% unless current_user.trial_expired? %>
      <h3>Or try it now for free!</h3>
      <p>
       Invite 25 or more friends and get 2 weeks of unlimited messaging on Friendskis - free!
      </p>
      <% end %>
    </div>
  </div><!-- /modal-body --> 
  <div class="modal-footer">
    <%= link_to "Subscribe now", '#', id: 'sales-click', class: 'uibutton large special', style: "float: right", onclick: "buySubscription('#{subscription_url(v: SUBSCRIPTION_VERSION)}');" %>
    <%= link_to "Try it for free!", '#', id: 'free-trial', class: 'uibutton large confirm', style: "float: right; margin-right: 10px", onclick: "sendRequestViaMultiFriendSelector()" unless current_user.trial_expired? %>
  </div><!-- /modal-footer --> 
</div><!-- /modal --> 
