<h2>Add a caption for your photo</h2>

<div class="photo">
  <%= image_tag @photo_url["medium_url"] %>
</div>

<div class="add-caption">
  <%= form_for @photo, url: photos_path do |f| %>
  
    <%= f.hidden_field :thumbnail_url, value: @photo_url["thumbnail_url"] %>
    <%= f.hidden_field :medium_url, value: @photo_url["medium_url"] %>
    <%= f.hidden_field :profile_pic, value: true %>
    
    <div>
      <%= f.label :caption, 'Add a caption' %><br>
      <%= f.text_field :caption, class: 'add-caption' %>
    </div>
    
    <div id='share-btn'>
      <%= f.submit "I'm done! Let's make some friends!", class: 'profile-done' %>
    </div>
  <% end %>
</div>

