<div class="span3">
  <%= render 'nav' %>
</div><!-- //span3 -->

<div class="span9">
  
  <div class='select-album'>
    <h3>Select an album</h3>
  </div>

  <% @albums.each do |album| %>
  <div class='album'>
    <div class='album-border'>
      <a href="<%= album_view_path(album_id: album[:id]) %>">
      <div class='album-cover' style="background-image: url(<%=album[:cover_photo] %>)">
      </div><!-- /album-cover -->
      </a>
    </div><!-- /album-border -->
    <div class='album-info'>
      <%= link_to album[:name], album_view_path(album_id: album[:id]) %>
      <p><%= pluralize(album[:count], 'photo') %></p>
    </div><!-- /album-info -->
  </div><!-- /album -->
  <% end %>

</div><!-- //span9 -->

