<div class="span3">
  <%= render 'nav' %>
</div><!-- //span3 -->

<div class="span9">
  
  <div class='select-album'>
    <h3>Add a caption for your photo</h3>
    <%#= link_to 'Back to photos', albums_path, class: 'uibutton icon prev' %>
  </div>

  <div class="photo">
    <%= image_tag @medium_url %>
  </div>

    <%= form_for @photo, url: photos_path, html: { class: 'form-stacked' } do |f| %>

      <%= f.hidden_field :thumbnail_url, value: @thumbnail_url %>
      <%= f.hidden_field :medium_url, value: @medium_url %>
      <div class='caption-label'>
        <%= f.label :caption, 'Add a caption' %>
      </div>
      <div class='field'>
        <%= f.text_field :caption, class: 'xlarge' %>
      </div>

      <div class='share-btn'>
        <%= f.submit 'Share on Friendskis', class: 'uibutton large special' %>
      </div>
    <% end %>

</div><!-- //span9 -->


