<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friendskis</title>
  <meta name="description" content="Friendskis helps you start the conversation so you can meet new people on Facebook.">
  <meta name="author" content="Friendskis Ltd">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, property: "og:title", content: "Subscription for #{current_user.username}" %>
  <%= tag :meta, property: "og:image", content: "#" %>
  <%= tag :meta, property: "og:description", content: "A subscription to Friendskis" %>
  <%= tag :meta, property: "og:type", content: "fbpayment:subscription" %>
  <%= tag :meta, property: "fb:app_id", content: FB_APP_ID %> 
  <%= tag :meta, property: "fbpayment:price", content: "9.99 USD" %> 
  <%= tag :meta, property: "fbpayment:alternate_price", content: "399.00 PHP"%>
  <%= tag :meta, property: "og:url", content: "http://56km.showoff.io/credits" %> 
</head>
<body>

  <%= render 'shared/fb' %>

  <div class="container canvas">
    <div class="row">
      <div class="span12 main">
        <div class="row">
          <%= yield %>
        </div><!-- //row -->
      </div><!-- //span12 -->
    </div><!-- //row -->
  </div><!-- //container -->  
</body>
</html>
