<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friendskis</title>
  <meta name="description" content="Friendskis helps you start the conversation so you can meet new people on Facebook.">
  <meta name="author" content="Friendskis Ltd">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35854749-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type="text/javascript">
    // If our app is not loaded in a canvas, refresh and load inside a canvas

    /*
    if (window == window.top) {
      window.top.location = "<%= facebook_iframed_url %>";
    }
    */

    // This is where we store the session data
    window.Application = {};
    window.Application.meta = <%= raw page_metadata.to_json %>;
    window.Application.fb = {}

    $(function() {
      initCJAX();
    });
  </script>

  </head>
<body>
  <div id="fb-ui-return-data"></div>
  <div id="fb-root"></div>
  <!-- Move this somewhere else? -->
  <script src="//connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({appId: "<%= FB_APP_ID %>", status: true, cookie: true});

    $(function() {
      FB.login(function(response) {
         if (response.authResponse) {
           window.Application.fb.userID = response.authResponse.userID;
         } else {
           //console.log('User cancelled login or did not fully authorize.');
         }
      });

    });
  </script>

  <div id="wrapper" class="container canvas">
    <div class="row">
      <div class="span12 main">
        <div class="row">
          <%= yield %>
        </div><!-- //row -->
      </div><!-- //span12 -->
    </div><!-- //row -->
  </div><!-- //container -->  
</body>
</html>
