<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friendskis</title>
  <meta name="description" content="Friendskis helps you start the conversation so you can meet new people on Facebook.">
  <meta name="author" content="Friendskis Ltd">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="fb-ui-return-data"></div>
    <div id="fb-root"></div>
    <!-- Move this somewhere else? -->
    <script src="//connect.facebook.net/en_US/all.js"></script>
    <script>
      FB.init({appId: "<%= FB_APP_ID %>", status: true, cookie: true});
    </script>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=182721585186027";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class='welcome-msg'>
      <div class="welcome-text">
        <h1>Friendskis</h1>
        <h3 class='tagline'>Discover and meet new friends on Facebook</h3>
        <a href="/auth/facebook" class='uibutton large special'>Login <em>anonymously</em> with Facebook</a>
        <%#<a href='#' class='uibutton large special' onclick="buySubscription();">Subscribe Now</a>%>
      </div><!-- //welcome-text -->
      <a href="/about">
        <div class="polaroid">
          <%= image_tag "profile.jpeg" %>
          <p>Ralph<br><span class="job">CEO, Friendskis</span></p>
        </div><!-- //polaroid -->
      </a>
    </div><!-- //welcome-msg -->
  </header>
  <div class="container canvas">
      <%= yield %>
    <footer>
      <div class='static-nav'>
        <ul>
          <li><%= link_to 'Home', (session[:user_id].present? ? users_url : root_url) %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'FAQ', faq_path %></li>
          <li><%= link_to 'Terms', terms_path %></li>
          <li><%= link_to 'Privacy', privacy_policy_path %></li>
        </ul>
        <p>Friendskis © 2012</p>
      </div>
    </footer>
  </div><!-- //container -->  
</body>
</html>
